
$background-color: rgba(177, 253, 56, 0.457);

#funnyText {
    background-color: $background-color;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 5px;
    background-color: rgb(255, 35, 233);
}